{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<main class="main">
     <!-- Departments Section -->
     <section id="departments" class="departments section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Departments</h2>
          <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row">
            <div class="col-lg-3">
              <ul class="nav nav-tabs flex-column">
                {% for dept in departments %}
                <li class="nav-item">
                  <a class="nav-link {% if dept.id == departments.first.id %} active show {% endif %}" data-bs-toggle="tab" href="#departments-tab-{{dept.id}}">{{dept.name}}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
              <div class="tab-content">
                {% for d in departments %}
                <div class="tab-pane {% if d.id == departments.first.id %} active show {% endif %}" id="departments-tab-{{d.id}}">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>{{d.short_description}}</h3>
                      <p class="fst-italic">{{d.description}}</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="assets/img/departments-1.jpg" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
  
        </div>
  
      </section><!-- /Departments Section -->
  
  </main>
{% endblock content %}