{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<main class="main">
  <!-- Departments Section -->
  <section id="departments" class="departments section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Departments</h2>
      <p>Explore the various departments and teams dedicated to supporting individuals with bipolar disorder and their families.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">
  <div class="row">
    <div class="col-lg-3">
      <ul class="nav nav-tabs flex-column">
        <li class="nav-item">
          <a class="nav-link active show" data-bs-toggle="tab" href="#departments-tab-1">Psychiatry Department</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-2">Clinical Psychology Department</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-3">Neuropsychiatry Department</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-4">Pharmacy Department</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-5">Social Work Department</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-6">Crisis Intervention Unit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="tab" href="#departments-tab-7">Research and Development Department</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-9 mt-4 mt-lg-0">
      <div class="tab-content">
        <div class="tab-pane active show" id="departments-tab-1">
          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Psychiatry Department</h3>
              <p class="fst-italic">Specializes in diagnosing and treating mental health disorders, including bipolar disorder.</p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img src="{% static 'assets/img/gallery/psychiatry.jpeg' %}"alt="Psychiatry Department" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="departments-tab-2">
          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Clinical Psychology Department</h3>
              <p class="fst-italic">Provides psychological evaluation and therapy for mental health conditions, including bipolar disorder.</p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img src="{% static 'assets/img/gallery/2.jpeg' %}" alt="Clinical Psychology Department" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="departments-tab-3">
          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Neuropsychiatry Department</h3>
              <p class="fst-italic">Integrates psychiatry and neurology to address complex mental health issues with neurological components.</p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img src="{% static 'assets/img/gallery/3.jpeg' %}" alt="Neuropsychiatry Department" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="departments-tab-4">
          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Pharmacy Department</h3>
              <p class="fst-italic">Manages medication therapy and provides pharmaceutical care for patients with bipolar disorder.</p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img src="{% static 'assets/img/gallery/4.webp' %}" alt="Pharmacy Department" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="departments-tab-5">
          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Social Work Department</h3>
              <p class="fst-italic">Provides support services and counseling for patients and families dealing with mental health issues.</p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img src="{% static 'assets/img/gallery/5.jpeg' %}" alt="Social Work Department" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="departments-tab-6">
          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Crisis Intervention Unit</h3>
              <p class="fst-italic">Provides immediate support and stabilization for individuals in acute mental health crises.</p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img src="{% static 'assets/img/gallery/5.webp' %}" alt="Crisis Intervention Unit" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="tab-pane" id="departments-tab-7">
          <div class="row">
            <div class="col-lg-8 details order-2 order-lg-1">
              <h3>Research and Development Department</h3>
              <p class="fst-italic">Conducts research on new treatments and interventions for mental health disorders, including bipolar disorder.</p>
            </div>
            <div class="col-lg-4 text-center order-1 order-lg-2">
              <img src="{% static 'assets/img/gallery/6.jpg' %}" alt="Research and Development Department" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </section><!-- /Departments Section -->

</main>


{% endblock content %}