{% extends 'core/base.html' %}
{% load static %}
{% block content %} 
    <!-- Doctors Section -->
    <section id="doctors" class="doctors section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Doctors</h2>
        <p>Meet our team of expert professionals specializing in bipolar disorder and mental health care.</p>
      </div><!-- End Section Title -->
  
      <div class="container">
  
        <div class="row gy-4">
          {% for doc in doctors %}
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member d-flex align-items-start">
              {% if doc.user.pic %}
              <div class="pic"><img src="{{doc.user.pic.url}}" class="img-fluid" alt="Dr. Njeri Mwangi"></div>
              {% else %}
              <div class="pic"><img src="{% static 'assets/img/doctors/doctors-1.jpg' %}" class="img-fluid" alt="Dr. Njeri Mwangi"></div>
              {% endif %}
              <div class="member-info">
                <h4>Dr. {{doc.user.last_name}} {{doc.user.first_name}}</h4>
                <span>{{doc.specialization}}</span>
                <p>{{doc.user.biography}}</p>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div><!-- End Team Member -->
          {% endfor %}

        </div>
  
      </div>
  
    </section><!-- /Doctors Section -->
  
      {% endblock content %}
